<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<base href="/">
<title>ECSHOP 管理中心 - 添加分类 </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="static/css/general.css" rel="stylesheet" type="text/css" />
<link href="static/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
      <a class="btn btn-right" href="{:url('category_list')}">商品分类</a>
  
    <span class="action-span1"><a href="index.php?act=main">ECSHOP 管理中心</a> </span><span id="search_id" class="action-span1">&nbsp;&nbsp;>&nbsp;&nbsp;添加分类 </span>
  <div style="clear:both"></div>
</h1><!-- start add new category form -->
<div class="main-div">
  <form action="{:url('goods/category_add')}" id="theForm" method="post" enctype="multipart/form-data">
    <table>
      <tr>
          <td class="label">分类名称:</td>
          <td><input type="text" name="cat_name" maxlength="20" value="" size="27">
          <font color="red">*</font></td>
      </tr>
      <tr>
          <td class="label">上级分类:</td>
          <td>
              <input type="hidden" name="path" value="" id="path" />
              <select name="parent_id" id="select">
                  <option value="0">顶级分类</option>
                  {foreach $cate as $v}
                  <option value="{$v.cat_id}" path="{$v.path}">
                  <?php echo str_repeat("&nbsp;&nbsp;&nbsp;├",substr_count($v['new'],"-")-1) ?>{$v.cat_name}
                  </option>
                  {/foreach}
              </select>
          </td>
      </tr>
      <tr id="measure_unit">
        <td class="label">数量单位:</td>
        <td>
          <input type="text" name='measure_unit' value='' size="12" />
        </td>
      </tr>
      <tr>
        <td class="label">排序:</td>
        <td>
          <input type="text" name='sort_order'  value="50" size="15" />
        </td>
      </tr>
      <tr>
          <td class="label">是否显示:</td>
          <td><input type="radio" name="is_show" value="1" checked="true"> 是<input type="radio" name="is_show" value="0"> 否  </td>
      </tr>
      <tr>
          <td class="label">是否显示在导航栏:</td>
          <td><input type="radio" name="is_nav" value="1"> 是  <input type="radio" name="is_nav" value="0" checked="true"> 否    </td>
      </tr>
      <tr>
          <td class="label">分类描述:</td>
          <td>
              <textarea name="cat_desc" rows="6" cols="48"></textarea>
          </td>
      </tr>
      </tbody></table>
      <div class="button-div">
        <input type="submit" class="btn" value=" 确定 " />
        <input type="reset" class="btn btn-def" value=" 重置 " />
      </div>
      </table>
  </form>
</div>
<div id="footer">
共执行 4 个查询，用时 0.019495 秒，Gzip 已禁用，内存占用 1.463 MB<br />
版权所有 &copy; 2005-2018 上海商派软件有限公司，并保留所有权利。</div>
<!-- 新订单提示信息 -->
<div id="popMsg">
  <table cellspacing="0" cellpadding="0" width="100%" bgcolor="#cfdef4" border="0">
  <tr>
    <td style="color: #0f2c8c" width="30" height="24"></td>
    <td style="font-weight: normal; color: #1f336b; padding-top: 4px;padding-left: 4px" valign="center" width="100%"> 新订单通知</td>
    <td style="padding-top: 2px;padding-right:2px" valign="center" align="right" width="19"><span title="关闭" style="cursor: hand;cursor:pointer;color:red;font-size:12px;font-weight:bold;margin-right:4px;" onclick="Message.close()" >×</span>
    </td>
  </tr>
  <tr>
    <td style="padding-right: 1px; padding-bottom: 1px" colspan="3" height="70">
    <div id="popMsgContent">
      <p>您有 <strong style="color:#ff0000" id="spanNewOrder">1</strong> 个新订单以及       <strong style="color:#ff0000" id="spanNewPaid">0</strong> 个新付款的订单</p>
      <p align="center" style="word-break:break-all"><a href="order.php?act=list"><span style="color:#ff0000">点击查看新订单</span></a></p>
    </div>
    </td>
  </tr>
  </table>
</div>
</body>
</html>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
<script>
    $("#theForm").submit(function(event){
        //event.preventDefault();
        //获取当前添加分类的父级主键id 作为新添加类的parent_id
        var parent_id=$("#select :selected").val();
        var path=$("#select :selected").attr("path");
        //判断被选中的是否为顶级分类   如果是,其path为0  否则为path+"-"+parent_id
        if(parent_id==0){
            $("#path").val(0);
        }else{
            $("#path").val(path+"-"+parent_id);
        }

    })
</script>